@import url('./variables.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--stone-100);
}

h1, h2 {
  margin: 0;
  padding: 0;
}